<form action="/lend" method="post" enctype="multipart/form-data">
  WHAT ARE YOU LENDING?
  <br>
  <input type="text" name="item_name">
  <br>
  DESCRIBE IT!
  <br>
  <textarea name="item_description" rows="10" cols="30">
  </textarea>
  <br>
  <input type="submit" value="Submit">
  <br>
  
</form>
