<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body         { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">
<div class="col-sm-6 col-sm-offset-3">
<form action="/lend" method="post" enctype="multipart/form-data">
  What Are You Lending?
  <br>
  <input type="text" name="item_name" maxlength="20" required="true" oninvalid="setCustomValidity('Please enter a name containing alphanumeric characters')" placeholder="Item Name" pattern="^[a-zA-Z0-9]*$" autofocus="true">
  <br>
  <input type="file" name="image_upload" id="input">
  <br>
  Where do you want to lend from?
  <br>
  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false&libraries=places"></script>
    <script type="text/javascript">
        google.maps.event.addDomListener(window, 'load', function () {
            var places = new google.maps.places.Autocomplete(document.getElementById('txtPlaces'));
            google.maps.event.addListener(places, 'place_changed', function () {
                var place = places.getPlace();
                var address = place.formatted_address;
                var latitude = place.geometry.location.lat();
                var longitude = place.geometry.location.lng();
            });
        });
    </script>
    <input type="text" id="txtPlaces" style="width: 250px" placeholder="Enter a location" />
  <br>  
  Describe It!
  <br>
  <textarea name="item_description" placeholder="Item Description" maxlength="160" rows="10" cols="30"></textarea>
  <br>
  <input type="submit" value="Submit">
  <br>
</form>

</div>
</div> 
</body>
</html>  

