<form action="/lend" method="post" enctype="multipart/form-data">
  What Are You Lending?
  <br>
  <input type="text" name="item_name" maxlength="20" required="true" oninvalid="setCustomValidity('Please enter a name containing alphanumeric characters')" placeholder="Item Name" pattern="[A-Za-z0-9]" autofocus="true">
  <br>
  <input type="file" name="image_upload" id="input">
  <br>
  Describe It!
  <br>
  <textarea name="item_description" placeholder="Item Description" maxlength="160" rows="10" cols="30"></textarea>
  <br>
  <input type="submit" value="Submit">
  <br>
</form>
  <progress max="100" value="0" class="node-js" name="progress_bar" style="display:none;">
    <!-- Browsers that support HTML5 progress element will ignore the html inside `progress` element. Whereas older browsers will ignore the `progress` element and instead render the html inside it. -->
    <div class="progress-bar">
      <span style="width: 35%">35%</span>
    </div>
  </progress>   
  

